body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

:root {
    --text-color: #f0f0f0;
    --blog-card-text-color: var(--text-color);
    --aside-text-color: #f12a2a;
    --primary-base: #212121;
    --secondary-base: #404040;
    --primary-hover: #252525;
    --bg-color: #121212;
    --primary-link-color: #505050;
    --primary-link-text-color: var(--text-color);
    --secondary-link-text-color: var(--primary-link-color);
    --section-offwhite-color: var(--primary-base);
    --gradient-color: var(--bg-color);
    --white-base: #FFFFFF;
    --white-smoke-base: #EBEBEB;
    --black-base: #000000;
    --grey-fade: #404040;
    --hr-color: #303030;
}

.filter-color-scheme {
    filter: invert(99%) sepia(40%) saturate(30%) hue-rotate(196deg) brightness(113%) contrast(88%);
}

a:visited {
    color: var(--white-smoke-base);
}

#theme-toggle-button {
    background-image: url(/media/icons/light-mode.svg);
    filter: invert(100%) sepia(0%) saturate(7427%) hue-rotate(23deg) brightness(118%) contrast(118%);
}