/* TODO:
    Animation
    notification tone */

:root {
    --reds-50:   #fef2f2;
    --reds-100:  #fee2e2;
    --reds-200:  #fecaca;
    --reds-300:  #fca5a5;
    --reds-400:  #f87171;
    --reds-500:  #ef4444;
    --reds-600:  #dc2626;
    --reds-700:  #b91c1c;
    --reds-800:  #991b1b;
    --reds-900:  #7f1d1d;

    --deep-gray:    #171717;
    
    --white-smoke: whitesmoke;


    --light-yellow: #FFC857;
    --light-black:  #0E1012;
    /* --light-black:  #444D57; */
    --smoky-gray:   #73777B;

    --section-font-color: black;
    
    --toast-bg:     #3A394C;
    --toast-txt-h:  #F9F9F9;
    --toast-txt:    #afafb7;
}

/* header */

.header-base {
    background-color: var(--light-black);
    text-align: center;
    color: var(--white-smoke);
    display: inline;
    font-size: xxx-large;
}

/* .header-base-base a {
    display: none;   
} */

.header-base img {
    display: block;
    max-width: 500px;
    width: 100%;
    margin: auto;
}

/* navigation bar */

.nav-base {
    width: 100vw;
    margin: 0rem 0rem 1rem;
    background-color: var(--reds-500);
    display: block;
    padding: 3rem 2rem;
    /* max-width: 100vw; */
}

.nav-base>ul {
    display: inline;
    margin: auto;
    text-align:end;
    background-color: var(--light-yellow);
    /* padding: 1rem; */
}   

.nav-base>ul>li {
    list-style: none;
    display: inline;
    padding: 1rem;;
    background-color: blueviolet;
}   

.nav-base>div {
    display: inline;
    padding: 1rem;
    text-align: left;
    text-align:start;
    background-color: #0E1012;
}

.nav-base a {
    text-decoration: none;
    color: var(--white-smoke);
    font-weight: bold;
    font-size: 1.8rem;
}

nav a.link-active { 
    color: var(--light-yellow);
}

.nav-base a:hover{
    transition: 90ms;
    color: var(--light-yellow);
    border-bottom: 3px var(--light-yellow) inset;
}

/* body */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--light-black);
    color: var(--white-smoke);
    max-width: 65vh;
    margin: 0 auto;
}

/* code */

.code-base {
    background-color: var(--toast-bg);
    color: var(--light-yellow);
}
/* Buttons links */

a.link-primary-button {
    border: var(--light-yellow) solid;
    border-radius: 0.5rem;
    background-color: var(--light-yellow);
    color: var(--light-black);
    text-decoration: none;
    font-weight: 500;
    font-size: larger;
    padding: 0.4rem 1.4rem;
}

a.link-primary-button:hover {
    padding: 0.5rem 1.5rem;
    font-weight: 610;
    background-color: var(--white-smoke);
}

a.link-secondary-button {
    border: var(--white-smoke) solid;
    border-radius: 0.5rem;
    background-color: var(--white-smoke);
    color: var(--light-black);
    text-decoration: none;
    font-weight: 500;
    font-size: larger;
    padding: 0.4rem 1.4rem;
}

/* section */

.sec-base {
    text-align: center;
    border-radius: 0.5rem;
    padding: 0.1rem 2rem 0.1rem;
    transition: 150ms;
}

.sec-base:hover {
    padding: 1rem;
    font-size: 1.4rem;
    transition: 200ms;
}

.sec-base:is(h1 h2 h3 h4 h5 h6) {
    font-weight: bold;
    padding: 0.1rem;
}

.sec-wht {
    background-color: var(--white-smoke);
    color: var(--section-font-color);
}

.sec-off-wht {
    background-color: var(--light-yellow);
    color: var(--section-font-color);
}

/* toast */

.sec-toast {
    /* animation include */
    background-color: var(--toast-bg);
    color: var(--toast-txt-h);
}

.sec-toast p {
    color: var(--toast-txt);
}

.toast-sound {
    display: none;
    /* src=; */
}

/* footer */

.footer-base {
    background-color: var(--light-black);
    text-align: center;
    padding: 2rem 1rem 0rem;
}

.footer-base p {
    margin: 0;
    padding: 2rem 0rem 2rem;
}

.footer-base a {
    color: var(--light-yellow);
    text-decoration: none;
    font-weight: 500;
    padding: 0rem 1rem 0rem;
}

/* .footer-base a.new-window:tar {
    target="_blank";
} */

.footer-base div {
    padding: 0rem 0rem 1rem;
    font-weight: bold;
    font-size: xx-large;
}

.footer-base ul {
    list-style: none;
    padding: 0rem 1rem;
}

.footer-base ul li {
    display: inline;
    padding: 0.5rem;
}