
:root {
    --red-base: #AA1111;
    --white-base: #FFFFFF;
    --white-smoke-base: #EBEBEB;
    --black-base: #000000;
}

.fixed-bg {
    background-image: url(/media/images/website-builder.svg);
    background-position:center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.txt-bottom-center>h1 {
    font-size:3rem;
    margin: 0;
}

.fixed-bg .txt-bottom-center {
    background-image: linear-gradient(to bottom, transparent, white 100%);
    height: 50vh;
    position: relative;
    text-align: center;
    padding-top: 50vh;
}

.header-base img {
    display: block;
    max-width: 500px;
    width: 100%;
    margin: auto;
}

/* body */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.header-base {
    text-align: center;
    font-size: xxx-large;
}


